<h1>新しいタスクを作成</h1>

<%= form_with model: [@board, @task], local: true do |f| %>
  <% if @task.errors.any? %>
    <div>
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "内容" %>
    <%= f.text_area :content, rows: 5 %>
  </div>

  <div>
    <%= f.label :due_date, "期限" %>
    <%= f.date_field :due_date %>
  </div>

  <div>
    <%= f.label :eyecatch, "アイキャッチ画像" %>
    <%= f.file_field :eyecatch, accept: "image/*" %>
  </div>

  <div>
    <%= f.submit "作成する" %>
    <%= link_to "キャンセル", board_path(@board) %>
  </div>
<% end %>