<h1><%= @board.title %></h1>

<p><%= @board.description %></p>
<p>作成者: <%= @board.user.email %></p>
<p>作成日: <%= @board.created_at.strftime("%Y年%m月%d日") %></p>

<% if @board.user == current_user %>
  <%= link_to "編集", edit_board_path(@board) %>
  <%= link_to "削除", board_path(@board), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
<% end %>

<%= link_to "一覧に戻る", boards_path %>